@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

:root {
  --primary: #263238;
  --secondary: #222222;
  --accent: #FFA41B;
  --text-color: #F7F7F7;
}

/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Default */
body{
  /* background: url("./images/portfolio-bg2.png");
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: var(--primary);
  height: 100vh;
  backdrop-filter: blur(5px);
  overflow: hidden;
  color: var(--text-color);
}
h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}
p{
  font-weight: 400 !important;
  letter-spacing: .1rem;
  font-size: 1rem;
}

/* Navbar and Nav Styles */
.nav-background{
  background-color: var(--accent);
  box-shadow: 2px 3px 4px 1px var(--secondary);
}
.nav-link{  
  color: #F7F7F7;
}
.nav-link:hover{
  color: var(--secondary);
}

/* My Logo */
#my-logo{
  width: 5rem;
  position: fixed;
  top: 20px;
  left: 2px;
  z-index: 2;
}
#my-logo:hover{
  padding: .2rem;
}

/* Custom name span */
#h1-allen{
  color: var(--accent);
  font-weight: 900;
}
.strong{
  color: var(--accent);
}

/* Modal Style */
.modal, .modal-dialog, .modal-content, .modal-header, .modal-title, .modal-body, .modal-footer{
  border: 0 !important;
  border-color: var(--primary);
}
.modal-background{
  background-color: var(--primary) !important;
}
.modal.fade .modal-dialog {
  transform: translate3d(0, 100%, 0);
  overflow: hidden;
}
.modal.show .modal-dialog {
  transform: translate3d(0, 0, 0);
  transition: transform 1s ease-in-out;
  overflow: hidden;
}

/* About Me Style */
.about-img{
  border-radius: .5rem;
  box-shadow: 2px 3px 4px 1px var(--secondary);
}
.about-box h6, p{
  font-weight: 300;
  margin-top: 1rem;
}
.feature-box .icon{
  border: 1px solid var(--accent);
  border-radius: 5px;
  color: var(--accent);
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
.feature-box .media-body {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}
.feature-box .media-body>*{
  margin: 0;
  font-size: 1rem;
}

/* Portfolio Styles */
.bg-card{
  background-color: var(--primary)
}

/* Buttons */
.btn-style{
  background-color: var(--accent);
  border-color: var(--accent);
}
.btn-style:hover{
  background-color: transparent;
  color: var(--text-color);
}

/* Footer */
footer a{
  color: var(--text-color);
}
footer a:hover{
  color: var(--accent);
}

/* Theme Buttons */
.accent-buttons-group{
  gap: 2rem;
}
.accent-button{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 1rem;
}
.yellow{
  background-color: #FFA41B;
}
.blue{
  background-color: #1572A1;
}


/* Media Queries */

/* Larger Screen */
@media(min-width: 992px){
  .header-style{
    display: flex;
    position: fixed;
    height: 100vh;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  .page-links{
    height: 100%;
    margin-right: 20px;
  }
  .nav-ul{
    display: flex;
    flex-direction: column !important;
    margin-bottom: auto;
    margin-top: 100px;
    gap: 30px;
    width: 50px;
  }
  .switch{
    top: 50px;
    right: 50px;
  }
  .moon{
    position: fixed;
    top: 53px;
    right: 105px;
  }
  .accent-buttons-group{
    position: fixed;
    flex-direction: column;
    right: 55px;
    top: 100px;
  }
  .modal-dialog{
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .home-banner{
    height: 85vh;
    margin-left: 7rem;
  }
  .home-banner h1{
    font-size: 3rem;
  }
  .home-banner h2{
    font-size: 2.5rem;
  }
  .home-banner p{
    font-size: 1.5rem;
  }
  footer{
    position: fixed;
    left: 150px;
    right: 50px;
  }
} 

/* Medium Screen */
@media (max-width: 991px){
  #my-logo{
    top: 10px;
  }
  .switch{
    top: 100px;
    right: 40px;
  }
  .moon{
    position: fixed;
    top: 103px;
    right: 95px;
  }
  .page-links{
    position: fixed;
    background-color: var(--accent);
    top: 50px;
    bottom: 0;
    width: 0;
    height: 100vh;
    transition: .35s ease all;
    overflow: hidden;
    z-index: 1;
  }
  .collapse{
    width: 50px;
  }
  .nav-ul{
    height: 100vh;
    margin-top: 30px;
    gap: 25px;
  }
  .modal-dialog{
    margin-top: 65px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .home-banner{
    height: 80vh;
  }
  footer{
    position: fixed;
    left: 60px;
    right: 20px;
    bottom: 40px;
  }
}

/* Small Screen */
@media (max-width: 576px){
  .navbar{
    height: 3rem;
  }
  #my-logo{
    width: 4rem;
    top: 7px;
  }
  .switch{
    top: 80px;
    right: 30px;
  }
  .moon{
    position: fixed;
    top: 83px;
    right: 85px;
  }
  .hamburger{
    width: 3rem !important;
    height: 3rem !important;
  }
  .page-links{
    top: 40px;
  }
  .collapse{
    width: 50px;
  }
  .home-banner{
    height: 80vh;
  }
  .home-banner h1{
    font-size: 2rem;
    width: 75%;
    margin: auto;
  }
  .home-banner h2{
    font-size: 1.5rem;
    width: 75%;
    margin: auto;
  }
  .home-banner p{
    width: 75%;
    margin: auto;
  }
  footer{
    position: fixed;
    left: 40px;
    right: 20px;
    bottom: 40px;
  }
  footer p{
    font-size: .8rem;
  }
}


/* Hambruger - START */
.hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  width: 3.75rem;
  height: 3.75rem;
}
.hamburger:hover{
  padding: .1rem;
}
.line {
  fill: none;
  stroke: #F7F7F7;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.1, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
/* Hambruger - END */


/* The switch - the box around the slider */
.switch {
  position: fixed;
  display: inline-block;
  width: 48px;
  height: 20px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-color);
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary);
  transition: .4s;
}
input:checked + .slider {
  background-color: var(--text-color);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}
input:checked + .slider:before {
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}
.slider.round:before {
  border-radius: 50%;
}

